@font-face {
  font-family: 'Whyte';
  //src: url('../fonts/Whyte-Medium.eot');
  src: local('Whyte Medium'), local('Whyte-Medium'),
      url('../fonts/Whyte-Medium-New.woff2') format('woff2'),
      url('../fonts/Whyte-Medium-New.woff') format('woff'),
      url('../fonts/Whyte-Medium-New.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  vertical-align: middle;
}

@font-face {
  font-family: 'Whyte';
  src: local('Whyte Bold'), local('Whyte-Bold'),
      url('../fonts/Whyte-Bold-New.woff2') format('woff2'),
      url('../fonts/Whyte-Bold-New.woff') format('woff'),
      url('../fonts/Whyte-Bold-New.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  vertical-align: middle;
}

@font-face {
  font-family: 'Whyte';
  src: local('Whyte Black'), local('Whyte-Black'),
      url('../fonts/Whyte-Black.woff2') format('woff2'),
      url('../fonts/Whyte-Black.woff') format('woff'),
      url('../fonts/Whyte-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  vertical-align: middle;
}


@font-face {
  font-family: 'Whyte';
  src: local('Whyte Regular'), local('Whyte-Regular'),
      url('../fonts/Whyte-Regular-New.woff2') format('woff2'),
      url('../fonts/Whyte-Regular-New.woff') format('woff'),
      url('../fonts/Whyte-Regular-New.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  vertical-align: middle;
}

@font-face {
  font-family: 'Atiza';
  src: url('../fonts/AtizaText-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Atiza';
  src: url('../fonts/AtizaText-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Atiza';
  src: url('../fonts/AtizaText-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}